:root {
  --dark-1: #272727;
  --blue-main: #051473;
  --yellow-main: #faeb8c;
  --yellow-light: #fffacb;
  --white: #fff;
  --black: #101010;
}

@font-face {
  font-family: "DM Sans";
  src: url("./fonts/DM_Sans/DMSans-Regular.ttf");
}

@font-face {
  font-family: "Playfair Display";
  src: url("./fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Bold.ttf");
}

:root {
  --font-family: "DM Sans", sans-serif;
  --second-family: "Playfair Display", sans-serif;
  --third-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--yellow-main);
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

.header {
}

.header .container {
  padding: 38px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
}

.header_so_logo {
}

.hero {
}

.hero .container {
  padding-top: 146px;
  padding-bottom: 156px;
}

.hero_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 101px;
  line-height: 99%;
  color: var(--blue-main);
  width: 912px;
}

/*-----BIG_IMG----- */

.big_img .container {
  max-width: 1600px;
  padding-bottom: 66px;
}

.big_image {
}

/*-----MAIN_INFO----- */
.main_info .container {
  padding-bottom: 141px;
}

.wrap1 {
  display: flex;
  gap: 125px;
  align-items: start;
  margin-bottom: 114px;
}

.wrap1_title {
  padding-top: 11px;
}

.decore {
  width: 34px;
  height: 0;
  border: 1px solid #000;
  margin-bottom: 16px;
}

.main_info_title {
  width: 296px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  color: var(--blue-main);
}

.main_info_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 121%;
  color: var(--blue-main);
  width: 820px;
}

.wrap2 {
  width: 620px;
  margin-left: auto;

  .title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 154%;
    color: var(--blue-main);
    margin-bottom: 27px;
  }

  .text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 154%;
    color: var(--blue-main);
  }
}

/* -----PROJECTS---- */

.projects .container {
  padding-bottom: 57px;
}
.projects_list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}
.project_item {
}
.project_item_img {
  margin-bottom: 31px;
}
.project_item_img:hover,
.project_item_img:focus {
  background: var(--blue-main);
  mix-blend-mode: multiply;
  opacity: 0.3;
  z-index: 5;
}
.projects .decore {
  margin-left: 20px;
}
.project_item_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 154%;
  color: var(--blue-main);
  padding-left: 20px;
  width: 296px;
  height: 112px;
}

/* -----FOOTER----- */

.footer {
  background: var(--blue-main);
}
.footer .container {
  padding-top: 80px;
  padding-bottom: 60px;
}
.footer_wrap1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 216px;
}
.footer_logo {
  width: 119px;
  height: 78px;
  margin-top: 20px;
}
.footer_list {
  display: flex;
  gap: 106px;
}
.footer_list_item {
}
.footer_item_link {
}
.footer_item_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 38px;
  line-height: 199%;
  color: var(--yellow-main);
}
.footer_list_item_list {
  padding: 0;
}
.footer_list_item_list_item {
}
.footer_list_item_list_item_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 21px;
  line-height: 199%;
  color: var(--yellow-main);
}
.footer_wrap2 {
  display: flex;
  justify-content: space-between;
}
.sc1 {
  display: flex;gap: 50px;
}
.sc1_item a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 99%;
  color: var(--yellow-main);
}
.sc2 {display: flex;gap: 32px;
}
.sc2_item {
}
.sc2_item_link {
}
.sc2_item_icon {
}
